@import "./src/themes/white-orange.theme.scss";

.menu-spacer {
  flex: 1 1 auto;
}

.navbar a:hover {
  color: mat-color($theme-accent, darker);
}

.active {
  color: mat-color($theme-accent);
}

::ng-deep .mat-sidenav-container {
  height: 92.7vh !important; 
}
